## -----------------------------------------------------------------------------
## Python artifacts
## -----------------------------------------------------------------------------

*.pyc
__pycache__/

## -----------------------------------------------------------------------------
## Setuptools
## -----------------------------------------------------------------------------

/build
/dist
setuptools*.zip
*.egg
*.egg-info

## -----------------------------------------------------------------------------
## Editor metadata
## -----------------------------------------------------------------------------

*.sublime-project
*.sublime-workspace

## -----------------------------------------------------------------------------
